:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --dairy: #FCFCFC;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    text-decoration: none;
    background-color: var(--white);
}

.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}

.header-main-cointainer {
    display: flex;
    justify-content: space-evenly;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
    margin-right: 76px;
}

.link {
    text-decoration: none;
    display: inline-block;
}

.link:hover {
    color: var(--ocean);
}

.link:focus {
    color: var(--ocean);
}

.logo-header-span {
    color: var(--navy-blue);
}

.list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.advantages-list,
.what-are-we-doing-list,
.our-team-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
}

.address-component {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address {
    font-style: normal;
    display: flex;
    align-items: center;
}

.main-heading {
    background-color: var(--navy-blue);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-heading-header {
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.main-heading-button {
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;
}

.main-heading-button:hover {
    background-color: var(--ocean);
}

.main-heading-button:focus {
    background-color: var(--ocean);
}

.advantages-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list-item {
    width: calc((100%-72px) / 4);
}

.advantages-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}

.advantages-card-header {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.advantages-card-paragraph {
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.what-are-we-doing-section {
    padding-bottom: 120px;
}

.what-are-we-doing-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.what-are-we-doing-list-image {
    width: calc((100% - 48px) / 3)
}

.our-team {
    background-color: var(--cloud);
    padding: 120px 0;
}

.our-team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.our-team-list-item {
    background-color: var(--white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.our-team-list-item-img {
    width: 100%;
}

.our-team-list-item-description {
    padding: 32px 0px;
}

.our-team-list-item-header {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-list-item-paragraph {
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media-list {
    width: 40px;
    height: 40px;
    list-style-type: none;
}

.social-media-list-item {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-list-item:hover {
    background-color: var(--ocean);
}

.social-media-list-item:focus {
    background-color: var(--ocean);
}

.social-media-list-item-icon {
    fill: var(--cloud);
}

.customers {
    padding: 120px 0;
}

.customers-heading {
    font-size: 36px;
    line-height: 1.11;
    color: var(--grey);
    margin-bottom: 72px;
    text-align: center;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-list-items {
    width: calc((100% - 120px) / 6);
    height: 88px;
    list-style-type: none;
}

.customers-list-items-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate);
}

.customers-list-items-link:hover,
.customers-list-items-link:focus {
    border-color: var(--ocean);
    color: var(--ocean);
}

.customers-list-items-icon {
    fill: currentColor;
}

.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-logo {
    margin-right: 120px;
}

.footer-link {
    margin-bottom: 16px;
}

.logo-footer-span {
    color: var(--cloud);
}

.footer-paragrapf {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-container-social-media {}

.footer-social-media-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-social-media-list {
    display: flex;
    gap: 16px;
}

.footer-social-media-list-item {
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-media-list-item:hover {
    background-color: var(--green);
}

.social-media-list-item:focus {
    background-color: var(--green);
}

.footer-social-media-list-item-icon {
    fill: var(--cloud);
}


/* Portfolio */

.portfolio-filtr-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filtr-button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    list-style-type: none;
}

.portfolio-filtr-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
}

.portfolio-filtr-button:hover {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid transparent;
}

.portfolio-filtr-button:focus {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid transparent;
}

.portfolio-list-item {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
    list-style-type: none;
}

.portfolio-list-item-element {
    width: calc((100% - 48px) / 3);
}

.portfolio-list-item-description {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio-list-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.portfolio-list-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}